<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1.指定映射的对象是usermapper类也就是dao层 -->
<mapper namespace="com.aaa.mapper.UserMapper">

	<!-- 查询返回的是实体类对象也可以写实体的绝对路径com.aaa.entity.User -->
	<select id="CheckLoginAndPwd1" resultType="user"
		parameterType="user">
		select*from user where username=#{username} and
		password=#{password} and per != "0"
	</select>

	<select id="CheckLoginAndPwd0" resultType="user"
		parameterType="user">
		select*from user where username=#{username} and
		password=#{password} and per="0"
	</select>

	<select id="findOne" parameterType="int" resultType="user">
		SELECT
		    USER.*,
		    address.area,
		    address.province,
		    state.state_name
		FROM
		    (
		        USER
		    LEFT JOIN address ON USER.address = address.province_id
		    ) LEFT
		JOIN state ON USER.state = state.state_number
		WHERE
		    id =#{id}
	</select>

	<select id="findAll" resultType="user">
		SELECT
		user.id,
		user.username,
		user.password,
		address.area,
		address.province,
		state.state_name,
		state.state_number
		FROM (user
		LEFT JOIN address ON user.address = address.province_id) LEFT
		JOIN
		state ON user.state=state.state_number
		ORDER BY user.id ASC
	</select>

	<!-- 增加，性别以数字替代1=男 0=女，default默认 -->
	<insert id="addUser" useGeneratedKeys="true" keyProperty="id"
		parameterType="user">
		insert into user
		values(default,#{username},#{password},#{address},#{state},1)
	</insert>

	<insert id="addAdmin" useGeneratedKeys="true" keyProperty="id"
		parameterType="user">
		insert into user
		values(default,#{username},#{password},#{address},#{state},0)
	</insert>

	<!-- 更新数据-通过id -->
	<update id="updUser" parameterType="user">
		update user set
		username=#{username},password=#{password},address=#{address},state=#{state}
		where id =#{id}
	</update>

	<!-- 删除数据-通过id -->
	<delete id="delUser" parameterType="int">
		delete from user where
		id=#{id}
	</delete>

	<select id="getUserByName" parameterType="user"
		resultType="user">
		select * from user where username like '%${username}%'
	</select>

</mapper>